.center{
  display: flex;
  margin: 0;
  background-color: rgb(160, 157, 157);
  /* justify-content: space-between; */

 
 
}
.title{
  font-size: 2rem;
  color:rgb(238, 13, 133);
  text-decoration: none;
}
.container{
  margin: 0.5vmax auto;
  width: 86vw;
}
.navbar{
  display: flex;
 justify-content: space-between;
  align-items: center;
  font-size: larger;
 
  
   flex: 1; 
}
.nav{
  text-decoration: none;
  color:aliceblue;
}